<div class="container p-4">
    <div class="title d-flex">
        <h1>ABOUT ME</h1>
        <hr>
    </div>
    <div class="content">
        <span>
            Hey, you! I am happy to welcome you to my portfolio. I am a web developer with a keen interest in exploring
            the latest cutting-edge technologies. My journey into the world of web development has been nothing short of
            exhilarating, and I am constantly striving to enhance my skills and embrace emerging trends in the industry.
        </span>
    </div>
</div>