<div class="container p-4">
    <div class="title d-flex">
        <h1>Resume</h1>
        <hr>
    </div>
    <div class="row justify-content-around">
        <div class="col-md-6 flex justify-content-center">

            <div class="flex justify-content-center">
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="Education">
                        <span>
                            2020-2021-2022
                            <h4>Self Study</h4>
                            <h6>Online studing in programming</h6>
                            2022
                            <h4>Developer</h4>
                            <h6>Work at itLink Componey</h6>
                        </span>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>
        <div class="col-md-6 flex justify-content-center">

            <div class="flex justify-content-center">
                <p-accordion [activeIndex]="0">
                    <p-accordionTab header="Education">
                        <span class="m-0">
                            2021-2022-2023
                            <h4>Finish Projects</h4>
                            <h6>Doing my own projects <a>See It</a></h6>
                        </span>
                    </p-accordionTab>
                </p-accordion>
            </div>
        </div>

    </div>

    <div class="flex justify-content-center">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Skills">
                <div class="row d-flex">
                    <span class="col-3 my-1">HTML</span>
                    <span class="col-3 my-1">HTML5</span>
                    <span class="col-3 my-1">CSS</span>
                    <span class="col-3 my-1">CSS3</span>
                    <span class="col-3 my-1">JAVA SCRIPT</span>
                    <span class="col-3 my-1">TYPE SCRIPT</span>
                    <span class="col-3 my-1">BOOTSTRAP</span>
                    <span class="col-3 my-1">ANGULAR</span>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="flex justify-content-center">
        <p-accordion [activeIndex]="0">
            <p-accordionTab header="Soft Skills" [style]="{backgroundColor: '#f2f7fc'}">
                <div class="row d-flex">
                    <span class="col-3">Time Management</span>
                    <span class="col-3">Mentorship</span>
                    <span class="col-3">Research</span>
                    <span class="col-3">Impeccable Communication</span>
                    <span class="col-3">Flexibility</span>
                    <span class="col-3">Writing</span>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>