<div class="flex justify-content-center">
    <div>
        <p-card header="Web Development" [style]="{backgroundColor: '#ffebd1'}">
            <p class="m-0">
                As a developer, I find myself most captivated by the power and flexibility of NEXT.js. I'm always eager
                to
                dive
                into new projects that leverage NEXT.js and discover innovative ways to create fast, scalable, and
                user-friendly
                applications.
            </p>
        </p-card>
    </div>
</div>