<div class="container ">
    <div class="row sec pt-4">
        <div class="col-lg-12">
            <a class="navbar-brand" style="font-family: cursive;font-size: 25px;color: #9ecaf5; cursor: pointer;"
                href="/home"><span style="font-family: fantasy;font-size: 30px;color: #dc6442;">Mohamed</span>
                Taha</a>
        </div>
    </div>

    <div class="row">
        <div class="col-8"></div>
        <div class="col-lg-4">
            <app-nav-bar></app-nav-bar>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <app-information></app-information>
        </div>
        <div class="col-lg-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-footer></app-footer>